*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


//header
.header{
    width: 100%;
    .header_first_part{
     
        padding: 10px 0;
        background: #000000;
    }

    .header_first_part_wrapper
    {
        max-width: 1237px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav_list_log_in_btn_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
 
    .log_in_btn {
        width: 83px;
        height: 48px;
        border: 2px solid #9B8E6C;
        box-sizing: border-box;
        background: none;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        color: #9B8E6C;

    }

    // .nav_list_log_in_btn_wrapper {
    //     width: 429px;
    // }
 
    .main_nav_ul_list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 290px;
        .main_nav_li {
            list-style: none;
        }
        .main_nav_link {
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: #DADADA;
            cursor: pointer;
            text-decoration: none;
            &:hover{
                color: #E5D6A0;
            }
        }
    }
    .mobile_version {
        position: fixed;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        top: 0;
        left: 0;
        padding-top: 100px;
        background: #D2BE8B;
        text-align: center;
        box-sizing: border-box;
        height: 100vh;
        z-index: 1;
        -ms-flex-pack: center !important;
        justify-content: center !important;
        overflow-y: scroll;
        display: none;
    }
    .hamburger-menu-line {
        width: 34px;
        height: 5px;
        background: #DADADA;
        border-radius: 10px;
        display: block;
        margin: 8px 0;
        transition: all 0.8s;
        margin-top: 0 !important;
    }
    .hamburger-menu{
        display: none;
    }

}

//footer
.footer{
    width: 100%;
    background: #000000;
    padding-top: 35px;
    padding-bottom: 99px;
    .footer_wrapper{
        width: 100%;
        max-width: 1250px;
        margin: 0 auto;
    }
    .footer_items_wrapper{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    .footer_logo_wrapper {
        margin-bottom: 9px;
    }
    .footer_copy_right_text {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -0.006em;
        color: #D5DADD;
        margin-bottom: 17px;
    }
    .footer_social_links_wrapper {
        display: flex;
        align-items: center;
    }
    .footer_social_link {
        margin-right: 24px;
        cursor: pointer;
    }
    .footer_ul_link {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -0.006em;
        color: #D5DADD;
        text-decoration: none;
        cursor: pointer;
    }
    .footer_ul_li{
        list-style: none;
        margin-bottom: 12px;
    }
    .mobile_footer_nav_wrapper{
        display: none;
    }
}


//media

@media   (max-width:1700px){
     .header_first_part_wrapper {
        width: 93%!important;
    }
}


@media (min-width:561px) and (max-width:630px){
    .main_nav_link {
        font-size: 14px!important;
    }
 
}

@media (max-width:683px){
    .hamburger-menu{
        display: block!important;
    }
    .second_nav_link {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        color: #9B8E6C;
        text-decoration: none;
        cursor: pointer;
        padding-bottom: 16px;
        &:hover{
            color: #E5D6A0;
            border-bottom:  1px solid #E5D6A0;
        }
    }
    .nav_list_log_in_btn_wrapper{
        display: none!important
    }
    .main_nav_ul_list {
        margin-bottom: 30px;
    }
    .main_nav_ul_list {
        margin-bottom: 30px!important;
    }
    .header_second_nav_list {
        margin-bottom: 30px;
    }
    .second_nav_ul_li {
        margin-bottom: 15px;
    }
    .main_nav_wrapper{
        display: none!important;
    }
    .nav_list_log_in_btn_wrapper {
        width: unset!important;
    }
    .main_nav_ul_list {
        flex-direction: column;
        justify-content: unset!important;
        align-items: unset!important;
        margin: 0 auto;
        width: unset!important;
    }
  .mobile-version_close {
        position: absolute;
        right: 20px;
        top: 20px;
    }
}

@media(max-width:1338px){
    .footer_wrapper {
        width: 93%!important;
}

}
@media(max-width:787px){
    .hidden_div{
        display: none!important;
    }
    .mobile_footer_nav_wrapper{
        display: flex!important;
        justify-content: space-between;
       
    }
    .footer_mobile_ul_link {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -0.006em;
        color: #D5DADD;
        text-decoration: none;
        cursor: pointer;
    }
    .footer_mobile_ul_li {
        list-style: none;
        margin-bottom: 18px;
    }
}

@media (min-width:638px) and (max-width:787px){
    .mobile_footer_nav_wrapper{
         width: 380px;
    }

}

@media  (min-width:574px) and  (max-width:637px){
    .mobile_footer_nav_wrapper{
         width: 340px!important;
    }

}

@media (min-width:541px) and (max-width:573px){
    .mobile_footer_nav_wrapper{
         width: 300px!important;
    }

}

@media (min-width:426px) and (max-width:540px){
    .footer_items_wrapper {
        flex-direction: column-reverse;
    }
    .mobile_footer_nav_wrapper {
      width: 380px;
        margin-bottom: 40px;
    }
}


@media (max-width:425px){
    .footer_items_wrapper {
        flex-direction: column-reverse;
    }
    .footer{
        padding-bottom: 40px!important;
        padding-top: 40px!important;
    }
    .mobile_footer_nav_wrapper {
        flex-direction: column;
        margin-bottom: 40px;
    }
}

// @media (min-width:825px) and (max-width:895px){
//     .nav_list_log_in_btn_wrapper {
//         width: 540px!important;
//     }
// }

@media (min-width:765px) and (max-width:824px){
    .main_nav_ul_list {
        width: 277px!important;
    }
    // .nav_list_log_in_btn_wrapper {
    //     width: 500px!important;
    // }
}

@media (min-width:684px) and (max-width:764px){
  

    .main_nav_ul_list {
        width: 270px!important;
    }
    // .nav_list_log_in_btn_wrapper {
    //     width: 430px!important;
    // }

}





// @media (min-width:452px) and (max-width:578px){
//     .second_nav_ul_list {
//         width: 422px!important;
//     }
// }

@media (max-width:451px){
    .second_nav_ul_list {
        display: none!important;
    }
    .header_second_part{
        display: none!important;
    }
}

// @media (min-width:971px) and (max-width:1148px){
//     .second_nav_ul_list{
//         margin-left: 400px!important;
//     }
// }


@media (max-width:970px){
    .second_nav_ul_list{
        margin-left: unset!important;
    }
}